Allow Get Command to pass parameters in the payload

<!--🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅

Oh hi there! 😄 

To expedite issue processing please search open and closed issues before submitting a new one.
Existing issues often contain information about workarounds, resolution, or progress updates.

🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅-->


# 🚀 Feature Request

### Relevant Package
<!-- Can you pin-point one or more EdgeX services the are relevant for this feature request? -->
<!-- ✍️edit: --> This feature request is for core-command


### Description
We support URL query parameter to pass into Device Service for Get Command.
Sometimes, it is not enough because the URL length is limited, and this would be REST only.


### Describe the solution you'd like
Allow Get Command to pass the parameters in the payload to Device Services




As discussed in other channels, there is no limit on the URL length. But some web browsers set certain limits.

[RFC 2616 Section 3.2.1](https://www.ietf.org/rfc/rfc2616.html#section-3.2.1):
> The HTTP protocol does not place any a priori limit on the length of a URI. Servers MUST be able to handle the URI of any resource they serve, and SHOULD be able to handle URIs of unbounded length if they provide GET-based forms that could generate such URIs. A server SHOULD return 414 (Request-URI Too Long) status if a URI is longer than the server can handle (see section 10.4.15).

It should be theoretically possible to encode the object and pass it as query strings. E.g. GET `/device/name/{name}/{command}?json=<base64-encoded-object>`.

However, passing body in GET is beneficial when the content is too large or sensitive such that having it appeared in logs or a remote logging infrastructural would cause performance or security issues. 

With that said, we should be careful when adding that feature:
* The OpenAPI spec disallowed requestBody for GET up until version 3.1.0 which is not yet supported by some tools (incl. the swagger editor). The current [core command spec](https://github.com/edgexfoundry/edgex-go/blob/main/openapi/v2/core-command.yaml) uses version 3.0.0.
* The new GET operation should stay RESTful (for obvious reasons). Calling GET `​/device​/name​/{name}` is expected to retrieve some information about a device named `/device​/name​/{name}` and not a command. Note that GET `​/device​/name​/{name}` currently performs another action and we better not overload by passing body and content type because that is semantically different and backwards-incompatible.

Hope that helps.

What I am proposing here is to pass the whole request, including payload and path query parameters to the Device Service implementation.  We are right now blocked by the transitional REST paradigm.  People have started using GET method with payload for different scenarios.  If we execute the command via message bus, the payload will be passed to the Device Service implementation.  There is no harm for the existing services and device services.

The scenario I encounter is as followings:
To enable more Onvif functions, we need to pass some structural data to the Device.
https://www.onvif.org/ver10/device/wsdl/devicemgmt.wsdl
![image](https://user-images.githubusercontent.com/11695863/138228247-3826bfbf-da17-490b-87dc-fd0396068d83.png)

