One attempt to decode 9 bytes of malformed CBOR data can exhaust memory

<!--🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅

Hello there! 😄

To expedite issue processing please search open and closed issues before submitting a new one.
Existing issues often contain information about workarounds, resolution, or progress updates.

🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅-->


# 🐞 Bug Report

### Affected Services
<!-- Can you pin-point one or more EdgeX services (Data, Metadata, Command, etc...) as the source of the bug? -->
<!-- ✍️edit: --> The issue is located in: 

<p>

edgex-go/internal/core/data/io.go

```
// Read reads and converts the request's CBOR event data into an Event struct
func (cr cborReader) Read(reader io.Reader, ctx *context.Context) (models.Event, error) {
	c := context.WithValue(*ctx, clients.ContentType, clients.ContentTypeCBOR)
	event := models.Event{}
	bytes, err := ioutil.ReadAll(reader)
        ...
	x := codec.CborHandle{}
	err = codec.NewDecoderBytes(bytes, &x).Decode(&event)
```

There are two potential problems related to memory exhaustion:
1.  Small data -- the CBOR library used by edgex-go can exhaust memory in 1 decode attempt of 9 bytes of malformed data.
2.  Large data -- use of ioutil.ReadAll(reader) into memory is risky and not necessary with most CBOR libraries.  At a minimum, io.LimitReader should be used with a reasonable limit appropriate for edgex-go.  Better yet, io.LimitReader can be passed to CBOR libraries for decoding.

### Is this a regression?

No

### Description and Minimal Reproduction

RFC 7049 Section 8 (CBOR Security Considerations) warns that malformed data can be used to exhaust system resources.

In September 2019, oasislabs/oasis-core found tiny CBOR data could exhaust memory and the problem was traced to the same CBOR library being used by edgex-go today (ugorji/go). They fixed it by switching CBOR libraries.

In February 2020, smartcontractkit/chainlink reported an issue on pivitoltracker (I don't have login access) and fixed it in [a GitHub PR titled "Switch to more secure CBOR library"](https://github.com/smartcontractkit/chainlink/pull/2383).

To reproduce, decode 9-byte or 10-byte malformed CBOR data described in Section 8 of RFC 7049.  

Examples of malformed CBOR data to achieve this can be found on GitHub since September 2019 (or possibly earlier if you look beyond Go projects).

## 🔥 Exception or Error

![alt text](https://github.com/fxamacker/images/raw/master/cbor/v2.2.0/cbor_security_638px.svg?sanitize=1 "CBOR API and Go Struct Tags")

For info about CBOR and security, see [Section 8 of RFC 7049 (Security Considerations)](https://tools.ietf.org/html/rfc7049#section-8).

For more comparisons, see [fxamacker/cbor](https://github.com/fxamacker/cbor/blob/master/README.md).  


Duplicate of #2430

@bnevis-i 

> Duplicate of #2430

Issue #2430 is titled "Processing **large (CBOR) payload** results in the golang runtime stack getting blown." and reports a morestack error:

> fatal: morestack on g0

By comparison, this issue reports these memory allocation errors caused by only **9-10 bytes** of payload:

> fatal error: out of memory
> runtime: out of memory: cannot allocate

If the #2430 and #2439 are combined, the surviving issue should mention all three errors and have a suitable title to prevent confusion/complacency.  Also, this issue (#2349) reports two different items related to memory exhaustion:

* Small Data - insecure CBOR library (ugorji/go) exhausts memory decoding 9 bytes
* Large Data - insecure use of ioutill.ReadAll(reader) can be vulnerable to large payloads

Per RFC 7049 Section 8 (CBOR Security Considerations):

> Resource exhaustion attacks might attempt to lure a decoder into
> allocating very big data items (strings, arrays, maps) or exhaust the
> stack depth by setting up deeply nested items.  Decoders need to have
> appropriate resource management to mitigate these attacks.  (Items
> for which very large sizes are given can also attempt to exploit
> integer overflow vulnerabilities.)


@x448 Thanks.  I unduplicated.

@x448 do you have repro bytes for the 9 byte malformed data? I looked in the RFC and couldn't find it, or sufficiently detailed instructions to reproduce myself.

I would like to add a test case against this along with the transition to fxamacker/cbor.

@jdharms I can provide malformed CBOR data that causes two of the three errors.  

I haven't seen the 3rd error ("morestack") with ugorji/go mentioned in #2430.  Maybe someone from edgex-go can provide malformed CBOR data that causes "morestack" error -- it would be useful to add to fxamacker/cbor unit tests.

[7049bis (draft of editorial update to RFC 7049)](https://datatracker.ietf.org/doc/draft-ietf-cbor-7049bis/)  has examples of malformed CBOR data.  

Also, the following code is from fxamacker/cbor/decode_test.go (MIT license) and @fxamacker credits oasislabs/oasis-core for discovery.  These two samples of malformed CBOR data cause the two memory exhaustion errors I reported if decoded with ugorji/go.

```
// Found at https://github.com/oasislabs/oasis-core/blob/master/go/common/cbor/cbor_test.go
func TestOutOfMem1(t *testing.T) {
	cborData := []byte("\x9b\x00\x00000000")
	var f []byte
	if err := Unmarshal(cborData, &f); err == nil {
		t.Errorf("Unmarshal(0x%x) didn't return an error", cborData)
	}
}

// Found at https://github.com/oasislabs/oasis-core/blob/master/go/common/cbor/cbor_test.go
func TestOutOfMem2(t *testing.T) {
	cborData := []byte("\x9b\x00\x00\x81112233")
	var f []byte
	if err := Unmarshal(cborData, &f); err == nil {
		t.Errorf("Unmarshal(0x%x) didn't return an error", cborData)
	}
}
```


@x448 Here's my attempt at reproducing with ugorji/go:

```package main

import (
	"fmt"

	"github.com/ugorji/go/codec"
)

func main() {
	decode_test([]byte("\x9b\x00\x00000000"))
	decode_test([]byte("\x9b\x00\x00\x81112233"))
}

func decode_test(b []byte) {
	x := codec.CborHandle{}
	var f []byte
	err := codec.NewDecoderBytes(b, &x).Decode(&f)
	if err != nil {
		fmt.Println(err.Error())
	}

	fmt.Printf("%x\n", f)

	for i := 0; i < 3; i++ {
		fmt.Printf("%v", i)
	}
	fmt.Printf("\n")
}
```

The result of running this code is:

```
[master] brave:repro jdharms$ ./repro
EOF

012
cbor decode error [pos 10]: assigning negative signed value to unsigned type

012
[master] brave:repro jdharms$
```

It appears to me the library is properly catching both of these errors.  Please let me know if I'm making a mistake with my repro code--interested in getting this resolved.

@jdharms can you provide more info about the system and versions used for testing?

@fxamacker used the following to reproduce the errors using the same data:
* ugorji/go (both 1.1.7 and also latest commit on GitHub)
* Go 1.12
* linux_amd64 with 4 GB RAM on Xeon Haswell

Here's 3rd-party description of ugorji/go fatal out of memory errors using the same data I provided:
* https://github.com/oasislabs/oasis-core/issues/2153


* github.com/ugorji/go v1.1.4
* go 1.13
* darwin/amd64

I just tried to update to ugorji/go v1.1.7 and was able to successfully reproduce.

Thanks for your help.  Wanted to do my due diligence before making a swap like this one.

@jdharms nice catch!  Thanks for looking into this, I'd have done the same due dilly in your shoes.

I'm a bit worried about not having a reproducer for the "morestack" error mentioned in #2430.  It could come back to haunt us if left unsolved.

BTW, I opened https://github.com/edgexfoundry/app-functions-sdk-go/issues/305 a couple days ago in case they didn't know.

@jdharms :fire: new malformed CBOR data was found that can exhaust memory in every version of ugorji/go tested so far.

Unfortunately, new data causes "fatal error: out of memory" error (instead of the "morestack" error reported by @akramtexas in #2430 presumably with ugorji/go 1.1.4).  So a "morestack" reproducer is still missing.  

Please share a reproducer for "morestack" error so the malformed CBOR (or a cleaned version to protect privacy) can be added to unit tests.

I asked @fxamacker yesterday to come up with new malformed data that affects multiple versions of ugorji/go and she was able to create some (around 9 bytes each) which exhausts memory when decoded by these versions of ugorji/go compiled with Go 1.12.17:

* ugorji/go January 2018 commit
* ugorji/go 1.1.4 (April 8, 2019)
* ugorji/go  1.1.7 (July 2, 2019)
* ugorji/go last commit (Aug 12, 2019)

She also confirmed [fxamacker/cbor](https://github.com/fxamacker/cbor) successfully rejects this new malformed data in about  
149 ns/op 128 bytes/op which is fast but different from the September 2019 samples.

cc @tingyuz @michaelestrin @AnthonyMBonafide 


@x448 

Are you able to share these inputs?  If preferred you can email them to me, but I would love to verify them on my end.  If I get my hands on a reproducer for "morestack" I will share it as well.

I have a local branch of edgex-go that swaps the dependency on ugorji/go for fxamacker/cbor.  edgex-go depends on go-mod-core-contracts, which also depends on ugorji/go, so I have introduced an issue: https://github.com/edgexfoundry/go-mod-core-contracts/issues/232 and associated pull request: https://github.com/edgexfoundry/go-mod-core-contracts/pull/233 for go-mod-core-contracts.

When that PR lands I will open the pull request to swap the dependency in edgex-go (I am waiting so the attribution file checker will be satisfied.)

My comment 9 days ago was missing the text "runtime:" in the March 2020 fatal error message:
`fatal error: runtime: out of memory`

