Processing large (CBOR) payload results in the golang runtime stack getting blown.

# 🐞 Bug Report

### Affected Services
Metadata

### Is this a regression?
No

### Description and Minimal Reproduction
- Launch `device-virtual-go` (`./device-virtual`) where we are using a device with the following configuration: `edgexfoundry/device-virtual-go/cmd/res/device.virtual.binary.yaml`
- After the device has been registered, run the following command to get the commands (GET and PUT) that can be issued:
```
curl --location --request GET 'http://localhost:48082/api/v1/device'
```
- Run the PUT command itself:
> curl --location --request PUT 'http://localhost:48082/api/v1/device/9f872d68-2281-4af4-959d-29e4d51c2192/command/b349df4a-6c3d-4218-b8bc-7ff8d51ea50d' \
--header 'Content-Type: application/cbor' \
--data-binary '@/Users/akramahmad/dell/dell_2019/CBOR/cbor_data/Decoded_Binary'

## 🔥 Exception or Error
- The command fails in `Postman`, with the following message:
> Could not get any response
> There was an error connecting to http://localhost:48082/api/v1/device/9f872d68-2281-4af4-959d-29e4d51c2192/command/b349df4a-6c3d-4218-b8bc-7ff8d51ea50d.
- The following message is logged by the golang runtime

`fatal: morestack on g0`

## 🌍  Your Environment
**Deployment Environment:**
Local DEV

**EdgeX Version:**
`master` branch

**Anything else relevant?**
It would make sense to add some kind of [support for chunked encoding](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Transfer-Encoding)

@akramtexas a large CBOR payload isn't required to exhaust system resources.  Just 1 decode attempt of a 9-byte malformed CBOR payload can exhaust system resources.

![alt text](https://github.com/fxamacker/images/raw/master/cbor/v2.2.0/cbor_security_638px.svg?sanitize=1 "CBOR API and Go Struct Tags")

For info about CBOR and security, see [Section 8 of RFC 7049 (Security Considerations)](https://tools.ietf.org/html/rfc7049#section-8).

For more comparisons, see [fxamacker/cbor](https://github.com/fxamacker/cbor/blob/master/README.md)

Might want to expand scope or create issue to evaluate whether switching to [fxamacker](https://github.com/fxamacker/cbor) would function well and is warranted.

Issue #2439 duplicates this issue.

This issue might have the same root problem as #2439 

@akramtexas, if I recall correctly you were experiencing this when you were using a large `JPEG` CBOR payload. You obtained that payload from somewhere else and cannot be completely sure if the contents were valid CBOR. Could you look into this and verify? If that is the case then we can close this issue since it is essentially a duplicate.

> This issue might have the same root problem as #2439
> 
> @akramtexas, if I recall correctly you were experiencing this when you were using a large `JPEG` CBOR payload. You obtained that payload from somewhere else and cannot be completely sure if the contents were valid CBOR. Could you look into this and verify? If that is the case then we can close this issue since it is essentially a duplicate.

- @AnthonyMBonafide Your recollection is exactly right. I had created that payload using the following snippet, which is a (significantly-modified) variant of the snippet available at [Sending and Consuming Binary Data From EdgeX Device Services](https://github.com/edgexfoundry/edgex-docs/blob/fe0844a2e04430791e9c84b6e924abdeb623eb00/examples/Ch-ExamplesSendingAndConsumingBinary.rst). Given the great deal of overlap between this issue and #2439, I agree that we can close this issue (i.e. #2430) since it is essentially a duplicate 👍 
- For reference, what follows below is my (significantly-modified) variant of the snippet I referred to:
```
	// Set up a minimalist CBOR data
	result := make(map[string]string)
	result["EnableRandomization_Binary"] = "true"

	var h codec.Handle = new(codec.CborHandle)
	var input = make([]byte, 0)

	// Create a cbor decoder from the cbor bytes and a cbor code handle
	var h codec.Handle = new(codec.CborHandle)
	var input = make([]byte, 0)
	var dec *codec.Encoder = codec.NewEncoderBytes(&input, h)

	// Decode into an EdgeX Event
	//var event contracts.Event
	err := dec.Encode(result)
	check(err)

	// Grab binary data and write to a file
	ioutil.WriteFile("/Users/akramahmad/dell/dell_2019/CBOR/cbor_data/Decoded_Binary", input, 0644)
}
```

@akramtexas, can we do a quick verification to see if size is the issue. Can you create a valid CBOR payload which matches the size of the `JPEG` payload you previously used and see if that causes the same error. If there is no error then I think we can close this issue, as it was probably invalid CBOR which caused the issue. However, if the problem still exists can you do a half-interval search(binary search) to find _around_ what size the issue occurs. I think this is a good thing to investigate since it would help us determine if we do have 2 issues or if they are the same and if there is an issue with size we can use those results to test a solution(which still may be moving to a differnt CBOR library).  

> @akramtexas, can we do a quick verification to see if size is the issue. Can you create a valid CBOR payload which matches the size of the `JPEG` payload you previously used and see if that causes the same error. If there is no error then I think we can close this issue, as it was probably invalid CBOR which caused the issue. However, if the problem still exists can you do a half-interval search(binary search) to find _around_ what size the issue occurs. I think this is a good thing to investigate since it would help us determine if we do have 2 issues or if they are the same and if there is an issue with size we can use those results to test a solution(which still may be moving to a differnt CBOR library).

@AnthonyMBonafide Excellent suggestion. I'm on it, and will update here with results.

- Here are the results of using (for the same `PUT` command I had used earlier) a newly-created, valid `CBOR` payload of large size that matches (in fact, _exceeds_ by a couple of `MB`) the size of the `JPEG` payload I had previously used: No issues this time. Status is `200 OK` each of the several times I ran the `PUT` command with the new `CBOR` payload.
- Evidently, the issue I ran into earlier, and had documented in this issue, was caused by invalid `CBOR`.
- As such, I recommend closing this issue.

@akramtexas , awesome. Thank you for the additional effort in solving this issue. I am closing this issue since it has been verified that the root cause is due to invalid `CBOR`, which is a problem covered by #2439 . Also, you can follow the PR https://github.com/edgexfoundry/edgex-docs/pull/118 for information regarding the creation of the test `CBOR` payload. 

> @akramtexas , awesome. Thank you for the additional effort in solving this issue. I am closing this issue since it has been verified that the root cause is due to invalid `CBOR`, which is a problem covered by #2439 . Also, you can follow the PR [edgexfoundry/edgex-docs#118](https://github.com/edgexfoundry/edgex-docs/pull/118) for information regarding the creation of the test `CBOR` payload.

@AnthonyMBonafide ✅ Always happy to help. Definitely, I'll be following up on creating documentation that captures the steps for the creation of the testing involving `CBOR` payloads ✅ 